@media screen and (min-width: 645px) {
    header {
        font-size: 1.5rem;
        padding: 5px;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    main {
        grid-template-areas: 
            'contrast  alignment'
            'emphasis   emphasis';
    }
}