@media screen and (min-width: 645px) {
    header {
        font-size: 1.5rem;
        padding: 5px;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    #contrast, #alignment {
        width: 95%;
    }

    #emphasis {
        width: 97.5%;
    }

    #main {
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "contrast  alignment"
            "emphasis   emphasis";
    }
}