@import url('https://fonts.googleapis.com/css2?family=Padyakke+Expanded+One&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    min-width: 100%;
    font-size: 1.25rem;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    background-color: #81878a;
    color: #484b4d;
    text-align: center;
    padding: 5px;
    width: 100%;
    font-size: 1rem;
}

header h3 {
    padding: 0 0 25px 0;
}

#main {
    text-align: center;
    display: grid;
    margin: 10px 0 0 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'contrast'
        'alignment'
        'emphasis';
}

p {
    font-size: 1rem;
}

.subtitle {
    font-size: 1rem;
    background-color: #81878a;
    color: #484b4d;
    text-align: center;
    border-radius: 20px 20px 0 0;
    padding: 10px;
}

#contrast {
    grid-area: contrast;
}

#alignment {
    grid-area: alignment;
}

#emphasis {
    grid-area: emphasis;
}

section {
    margin: 20px 0 0 0;
    background-color: #9ea5a8;
    color: #484b4d;
    border-radius: 20px;
}

section p, a {
    padding: 10px;
}

img {
    border: 5px #484b4d solid;
    padding: 10px;
    width: 100%;
    align-self: center;
}

a {
    color: #c2cbce;
    text-decoration: none;
}

a:hover {
    color: #626769;
}

a:active {
    color: #484b4d;
}

footer {
    text-align: center;
    background-color: #9ea5a8;
    margin: 10px 0 0 0;
    color: #484b4d;
    padding: 10px;
}

footer p {
    font-size: 1rem;
}