@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Padyakke+Expanded+One&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 75px 20px;
    background: linear-gradient(to top, rgba(97, 64, 34, 0.5), rgba(230, 230, 230, 0.6)), no-repeat fixed center top url('../images/park.jpg');
    color: #f5f5dc;
    overflow: hidden;
    height: 375px;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    width: 25%;
    border-radius: 100%;
}

nav {
    background-color: #f5f5dc;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav li {
    flex: 1 1 auto;
    list-style-type: none;
    width: 100%;
}

nav a {
    color: #025f0b;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 15px;
}

a:hover {
    background-color: lightgrey;
    color: grey;
}

a:active {
    background-color: #846C5B;
    color: #fff;
}

.current {
    text-decoration: underline;
}

body {
    text-align: center;
}

main {
    padding: 30px 20px 15px 20px;
    background-color: #fffff0;
    color: #443742;
    font-family: 'Barlow', sans-serif;
}

main h2 {
    padding: 0 0 20px 0;
}

#content {
    margin: 0 0 20px 0;
}

.home-icon {
    color: #025f0b;
    margin: 20px 0;
}

#audience {
    text-align: left;
    margin: 10px 0 30px 30px;
}

section img {
    border-radius: 100%;
    width: 200px;
}

h5 {
    margin: 15px 0;
}

.persona-list {
    list-style-type: none;
}

#design-palette {
    display: flex;
    flex-direction: row;
}

.palette {
    margin: 0 auto;
    border: 1px solid black;
    width: 20%;
    height: 50px;
    text-align: center;
}

#color1 {
    background-color: #fffff0;
    color: #443742;
}

#color2 {
    background-color: #f5f5dc;
    color: #443742;
}

#color3 {
    background-color: #025f0b;
    color: #fffff0;
}

#color4 {
    background-color: #443742;
    color: #fffff0;
}

#color5 {
    background-color: #846C5B;
    color: #fffff0;
}

#palette-description {
    display: flex;
    flex-direction: row;
}

.desc {
    margin: 0 auto;
    border: 1px solid black;
    width: 20%;
    text-align: center;
    font-size: .75rem;
    padding: 5px;
}

.other-font {
    font-family: 'Montserrat', sans-serif;
}

footer {
    background-color: #f5f5dc;
    display: block;
    padding: 15px;
    color: #443742;
    font-family: 'Montserrat', sans-serif;
}