@media screen and (min-width: 592px) {
    header {
        text-align: left;
        height: 300px;
        font-size: 0.9rem;
    }
    
    .logo {
        width: 100px;
    }
    
    nav ul {
        flex-direction: row;
        display: flex;
    }

    nav li {
        width: 33.3%;
    }

    nav a {
        font-size: 1.1rem;
    }

    #navbar {
        display: flex;
    }

    #hamburger {
        display: none;
    }

    .current {
        text-decoration: overline;
    }

    main p {
        width: 50%;
        margin: 30px auto;
    }

    #personas {
        display: grid;
        grid-template-areas: 'katie daniel';
    }

    #katie {
        grid-area: katie;
    }

    #daniel {
        grid-area: daniel;
    }
}