@media screen and (min-width: 600px) {
    header {
        text-align: left;
    }
    
    .logo {
        width: 100px;
    }

    main p {
        width: 50%;
        margin: 30px auto;
    }

    #personas {
        display: grid;
        grid-template-areas: 'katie daniel';
    }

    #katie {
        grid-area: katie;
    }

    #daniel {
        grid-area: daniel;
    }
}