@import url('https://fonts.googleapis.com/css2?family=Padyakke+Expanded+One&display=swap');

@media screen and (min-width: 640px) {
    #content {
        width: 70%;
    }

    header {
        font-family: 'Padyakke Expanded One', cursive;
    }

    main {
        padding: 10px;
    }
}