@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: lightgrey;
    display: flex;
}

header {
    margin: 1rem;
    display: flex;
    align-items: center;
    background-color: grey;
    color: white;
    border: 2px black solid;
    border-top-left-radius: 20px;
    box-shadow: 2px 2px 5px rgb(105, 104, 104);
}

header img {
    margin: 1rem;
    width: 125px;
    border: 1px black solid;
    border-radius: 5%;
}

header h1 {
    text-align: center;
    font-size: 1.1rem;
}

header div:nth-child(2) {
    width: 100%;
}

#content {
    margin: 0 auto;
    width: 800px;
}

main {
    margin: 0 1rem;
}

li {
    padding: 5px 0 5px 0;
}

a {
    text-decoration: none;
    color: rgb(34, 171, 164);
}

a:hover {
    color: grey;
}

a:active {
    color: lightgrey;
}

footer {
    margin: 1rem;
    align-items: center;
    background-color: grey;
    color: white;
    border: 2px black solid;
    text-align: center;
    padding: 1rem;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 5px rgb(105, 104, 104);
}